

html{
	font-family: sans-serif,
}

.section-dark{
	background-color: #ccc;
}

a {
	color: blue;
}

.i--logo {
	background-image: url("../images/logo.png");

}

.easy{
	color:white;
}

p{
	margin: 0;
}

h1{
	color: white;
	margin:0;
	padding-top:0;
}

h2{
	margin: 0;
	background-color: #006799;
	color: white; 
}

h3{
	color: #006799;
}
.unit1{
background-image: url("../images/a-lady.jpg");
padding: 5rem;
background-size: cover;
width:100%;

}
.unit2{
	background-color:#999;
	padding-bottom: 30px
	
}
.unit3{
	background-color: white;
	padding-bottom: 30px
}

.light-grey{
	background: #999;
}

.grey{
	background-color: #666;
}

.btn{
	color: white;
	font-size: 1.5rem;
	padding: 0.25rem 1.5rem 0.25rem 1.5rem;
	border: 3px solid #006799;
	background-color: #006799;
	border-radius: 10px;
	cursor: pointer;
}

label{
	cursor: pointer;
	display: block;
}

input + label{
	display: inline;
}

.contact a,
.contact li {
	text-decoration: none;
	list-style: none;
}

@media only screen and (min-width: 609px) {

	.unit1{
	background-image: url("../images/a-lady.jpg");
	padding: 5rem;
	background-size: cover;
	width:66.6%;

}


