@-moz-viewport { width:device-width; scale: 1;}
@-ms-viewport { width:device-width; scale: 1;}
@-o-viewport { width:device-width; scale: 1;}
@-webkit-viewport { width:device-width; scale: 1;}
@viewport { width:device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webtext-text-size-adjust:100%
	font-family: sans-serif,

*, *::before, *::after{ 
	box-sizing: inherit;
}	
}
.masthead{
	background-color:;
}
.i--logo {
	background-image: url("../images/logo.svg");
}
p{
	margin: 0;
}
h3{
	margin: 0;
}
.unit1{
background-color: lightblue;
}
.unit2{
	background-color: grey;
}
.unit3{
	background-color: skyblue;
}
.unit4{
	background-color: grey;
}
.light-grey{
	background: #999;
}
.grey{
	background-color: #666;
}
.i--facebook {
  background-image: url("../images/facebook.svg");
}
.i--linkdin {
  background-image: url("../images/linkdin.svg");
}

.i--email {
  background-image: url("../images/e.svg");
}










